@font-face {
  font-family:"cabin";src:url("/css/cabin/Cabin-Regular.ttf?") format("ttf");
  font-weight:normal;
  font-style:normal;
}

body {
  margin-left: 5vh;
  margin-right: 5vh;
  margin-top: 0;
  margin-bottom: 0;
}

